<div class='container-fluid hero'>
    <div class='container'>
        <img src="{{ "images/common/normal-curve-white.png" | absURL }}" class='normal-curve'/>
        
        <img src="{{ "images/logos/text-negative.png" | absURL }}" class='logo' />

        <p class='mainline'>
            Data Driven Development
        </p>
        <p class='byline'>
            that helps you
        </p>

        <ul class='actions'>
            <li>
                Organize
            </li>
            <li>
                Connect
            </li>
            <li>
                Visualize
            </li>
        </ul>
    </div>
</div>