<div class='container what-we-do'>
    <div class='row section purple'>
        <div class='col-md-6 order-md-2'>
            <img src="{{ "images/common/organization.png" | absURL}}" />
        </div>
        <div class='col-md-6 order-md-1'>
            <h3>Can't find what you're looking for?</h3>
            <p>
                I create easy-to-use customized solutions that will help you organize and maintain your data, so that you have secure access to what you need, when you need it, wherever you need it.
            </p>
            <p>
                <a class='button purple' href="/about">
                    Interested?
                </a>
                <a class='button purple outline' href="/project">
                    Show me some more
                </a>
            </p>
        </div>
    </div>
    <div class='row section dark-green'>
        <div class='col-md-6'>
            <img src="{{ "images/common/connect.png" | absURL}}" />
        </div>
        <div class='col-md-6'>
            <h3>So much data, so little time...</h3>
            <p>
                Data is everywhere, but the information contained in it is not. I develop solutions that help you quickly find answers to the most important questions you have for your data.
            </p>
            <p>
                <a class='button dark-green' href="/about">
                    Interested?
                </a>
                <a class='button dark-green outline' href="/project">
                    Show me some more
                </a>
            </p>
        </div>  
    </div>
    <div class='row section light-green'>
        <div class='col-md-6 order-md-2'>
            <img src="{{ "images/common/visualization.png" | absURL}}" />
        </div>
        <div class='col-md-6 order-md-1'>
            <h3>You got my message, right?</h3>
            <p>
                The most sophisticated data analysis is worthless if you are not able to communicate your findings. I develop customized visualizations that will help you get your point across, no matter the audience your facing.
            </p>
            <p>
                <a class='button light-green' href="/about">
                    Interested?
                </a>
                <a class='button light-green outline' href="/project">
                    Show me some more
                </a>
            </p>
        </div>  
    </div>
</div>