<div class='container what-we-do'>
    <div class='row section purple' id="organize">
        <div class='col-md-6 order-md-2'>
            <img src="{{ "images/common/organization.png" | absURL}}" />
        </div>
        <div class='col-md-6 order-md-1'>
            <h3>Can't find what you're looking for?</h3>
            <p>
                We create easy-to-use customized solutions that will help you organize and maintain your data. Whether it is
                MySQL or NoSQL database design, or simply a web accessible interface, we make sure
                you have secure access to what you need, when you need it, wherever you need it.
            </p>
            <p>
                <a class='button purple' href="/about">
                    Interested?
                </a>
                <a class='button purple outline' href="/project">
                    Show me some more
                </a>
            </p>
        </div>
    </div>
    <div class='row section dark-green' id="connect">
        <div class='col-md-6'>
            <img src="{{ "images/common/connect.png" | absURL}}" />
        </div>
        <div class='col-md-6'>
            <h3>So much data, so little time...</h3>
            <p>
                Data is everywhere, but the information contained in it is not. We develop solutions like APIs and analytical tools
                that help you easily and quickly connect to your data in order to find answers to your most important questions. 
            </p>
            <p>
                <a class='button dark-green' href="/about">
                    Interested?
                </a>
                <a class='button dark-green outline' href="/project">
                    Show me some more
                </a>
            </p>
        </div>
    </div>
    <div class='row section light-green' id="visualize">
        <div class='col-md-6 order-md-2'>
            <img src="{{ "images/common/visualization.png" | absURL}}" />
        </div>
        <div class='col-md-6 order-md-1'>
            <h3>Communication is key</h3>
            <p>
                You may hate the cliché, but truth of the matter is that the most sophisticated data analysis is worthless if you are not 
                able to communicate your findings. We develop customized and interactive data visualizations that will help you get your point 
                across, no matter what audience your facing.
            </p>
            <p>
                <a class='button light-green' href="/about">
                    Interested?
                </a>
                <a class='button light-green outline' href="/project">
                    Show me some more
                </a>
            </p>
        </div>
    </div>
</div>